<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>商城设置</h3>
                <h5>发放奖励</h5>
            </div>
            <ul class="tab-base nc-row">
                <foreach name="group_list" item="v" key="k">
                    <li><a href="{:U('System/index',['inc_type'=> $k])}" <if condition="$k==$inc_type">class="current"</if>><span>{$v}</span></a></li>
                </foreach>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span> </div>
        <ul>
            <li>若开启分销，普通会员启用默认分销规则，还可以去设置分销商等级设定分销规则</li>
        </ul>
    </div>
    
        <div class="ncap-form-default">
            <div id="switch_on_off" >
            <dl class="row" >
                <dt class="tit" style="line-height:58px;height:58px">
                    级差奖领导奖
                </dt>
                <dd class="opt"> 
                    <div class="bot">
                        <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="doDistribute()">确认提交</a>
                    </div>
                    <p class="notic"></p>
                </dd>
                <dd class="opt"> 
                    <div class="bot">
                        上次级差奖发放时间   {$change_time|date="Y-m-d h:i:s",###} 
                    </div>
                    <p class="notic"></p>
                </dd>
            </dl>
            </div>
        </div>

        <div class="flexigrid">
            <div class="mDiv">
                <div class="ftitle">
                    <!-- <h3>返佣日志</h3>
                    <h5>(共{$count}条记录)</h5> -->
                </div>
                <!-- <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div> -->
                <!-- <form class="navbar-form form-inline" id="search-form" method="get" action="{:U('Distribution/commission_log')}" onsubmit="return check_form();">
                    <input type="hidden" name="ctime" id="ctime" value="{$ctime}">
                    <input type="hidden" name="log_ids" value="{$log_ids}" id="log_ids" />
                    <input type="hidden" name="type" value="{$type}" id="type"/>
                    <div class="sDiv">
                        <div class="sDiv2" style="margin-right: 10px;">
                            <input type="text" size="30" id="start_time" name="start_time" value="{$start_time}" placeholder="起始时间" class="qsbox">
                        </div>
                        <div class="sDiv2" style="margin-right: 10px;">
                            <input type="text" size="30" id="end_time" name="end_time" value="{$end_time}" placeholder="截止时间" class="qsbox">
                        </div>
                        <div class="sDiv2" style="margin-right: 10px;">
                            <input type="text" size="30" id="order_sn" name="order_sn" value="{$order_sn}" placeholder="订单编号" class="qsbox">
                        </div>
                        <div class="sDiv2">
                            <select class="form-control" id="user_type" name="user_type" style="border: none;">
                                <option value="1" <if condition="$user_type eq 1">selected</if>>用户名称</option>
                                <option value="2" <if condition="$user_type eq 2">selected</if>>获得返利用户</option>
                            </select>
                            <input size="30" value="{$user_name}" name="user_name" class="qsbox" type="text">
                            <input class="btn" value="搜索" type="submit">
                        </div>
                    </div>
                </form> -->
            </div>
            <div class="tDiv">
                <div class="tDiv2">
                    <div class="fbutton">
                        <!-- <a href="javascript:;" onclick="exportUser()">
                            <div class="add" title="导出返佣明细">
                                <span><i class="fa fa-share"></i>导出返佣明细</span>
                            </div>
                        </a> -->
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="hDiv">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="sign" axis="col8">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </th>
                            <th align="center" abbr="ac_id" axis="col3" class="">
                                <div style="text-align: center; width: 80px;" class="">ID</div>
                            </th>
                        
                                <th align="center" abbr="article_time" axis="col4" class="">
                                    <div style="text-align: center; width: 80px;" class="">用户id</div>
                                </th>
                                <th align="center" abbr="article_time" axis="col4" class="">
                                    <div style="text-align: center; width: 150px;" class="">用户名称</div>
                                </th>
                                <th align="center" axis="col4" class="">
                                    <div style="text-align: center; width: 100px;" class="">用户头像</div>
                                </th>
                        
                            <!-- <th align="center" abbr="article_time" axis="col4" class="">
                                <div style="text-align: center; width: 150px;" class="">获得返利用户</div>
                            </th> -->
                            <th align="center" axis="col4" class="">
                                <div style="text-align: center; width: 100px;" class="">返利类型</div>
                            </th>
                            <th align="center" abbr="article_time" axis="col5" class="">
                                <div style="text-align: center; width: 200px;" class="">所得金额</div>
                            </th>
                            <!-- <neq name="$type" value="$is_type">
                                <th align="center" abbr="article_time" axis="col6" class="">
                                    <div style="text-align: center; width: 150px;" class="">电话号码</div>
                                </th>
                                <th align="center" abbr="article_time" axis="col6" class="">
                                    <div style="text-align: center; width: 100px;" class="">订单id</div>
                                </th>
                            </neq> -->
                            <th align="center" abbr="article_time" axis="col6" class="">
                                <div style="text-align: center; width: 200px;" class="">时间</div>
                            </th>
                            <th align="center" abbr="article_time" axis="col6" class="">
                                <div style="text-align: center; width: 300px;" class="">描述</div>
                            </th>
                            <th align="center" abbr="article_time" axis="col6" class="">
                                <div style="text-align: center; width: 200px;" class="">操作</div>
                            </th>
                            <th style="width:100%" axis="col7">
                                <div></div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="bDiv" style="height: auto;">
                <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                    <table>
                        <tbody>
                        <foreach name="list" item="vo" key="k" >
                            <tr>
                                <td class="sign">
                                    <div style="width: 24px;"><i class="ico-check"></i></div>
                                </td>
                                <td align="center" class="">
                                    <div style="text-align: center; width: 80px;">{$vo.log_id}</div>
                                </td>
                                <td align="center" class="">
                                    <div style="text-align: center; width: 80px;">{$vo.user_id}</div>
                                </td>
                                <neq name="$type" value="$is_type">
                                    <td align="center" class="">
                                        <div style="text-align: center; width: 150px;">{$vo.user_name}</div>
                                    </td>
                                    <td align="left" class="">
                                        <div style="text-align: center; width: 100px;">
                                            <if condition="!empty($vo.user_name) and !empty($vo.user_head_pic)">
                                                <img src="{$vo.user_head_pic}" style="width:30px;height:30px;" alt="">
                                            <elseif condition="!empty($vo.user_name)"/>
                                                <img src="/public/images/user_default_icon.jpg" style="width:30px;height:30px;" alt="">
                                            </if>
                                        </div>
                                    </td>
                                </neq>
                                
                                <td align="left" class="">
                                    <div style="text-align: center; width: 100px;">
                                            {$vo.typename}
                                    </div>
                                </td>
                                <td align="center" class="">
                                    <div style="text-align: center; width: 200px;">{$vo.user_money|default='0'}</div>
                                </td>
                            
                                <td align="center" class="">
                                    <div style="text-align: center; width: 200px;">{$vo.change_time|date="Y-m-d H:i:s",###}</div>
                                </td>
                                <td align="center" class="">
                                    <div style="text-align: center; width: 300px;">{$vo.desc}</div>
                                </td>
                                <td align="center" class="handle">
                                    <div style="text-align: center; width: 200px; max-width:200px;">
                                        <a class="btn blue" href="{:U('Distribution/commission_detail',array('id'=>$vo['log_id'],'type'=>$type))}"><i class="fa fa-search"></i>查看</a>
                                    </div>
                                </td>
                                <td align="" class="" style="width: 100%;">
                                    <div>&nbsp;</div>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
                <div class="iDiv" style="display: none;"></div>
            </div>
            <!--分页位置-->
            {$page} </div>



  
</div>
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
<script>
   
    var isClick=true;
    function doDistribute(){
        var r=confirm("确定发放奖励吗？");
        if(r){
            if(isClick){
                isClick=false;
                $.ajax({
                        url:"{:url('admin/system/team_bonus')}",
                        method:"get",
                        success:function(res){
                            var res=JSON.parse(res);
                            if(res.status==1){
                                isClick=true;
                                alert(res.msg);
                                setTimeout(() => {
                                    location.replace(location.href);
                                }, 1000);
                            }
                        }
                    })
            }
        }
    }
    
    function qr_back_call_back(fileurl_tmp)
    {
      $("#qr_back").val(fileurl_tmp);
      $("#qr_back_a").attr('href', fileurl_tmp);
      $("#qr_back_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
    function qr_big_back_call_back(fileurl_tmp)
    {
      $("#qr_big_back").val(fileurl_tmp);
      $("#qr_big_back_a").attr('href', fileurl_tmp);
      $("#qr_big_back_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
</script>
</body>
</html>