<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>商城设置</h3>
                <h5>佣金基本配置</h5>
            </div>
            <ul class="tab-base nc-row">
                <foreach name="group_list" item="v" key="k">
                    <li><a href="{:U('System/index',['inc_type'=> $k])}" <if condition="$k==$inc_type">class="current"</if>><span>{$v}</span></a></li>
                </foreach>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span> </div>
        <ul>
            <li>若开启分销，普通会员启用默认分销规则，还可以去设置分销商等级设定分销规则</li>
            <li>分销返佣金额每个商品单独设定，原则上不高于商品价格50%</li>
            <li>所有分销商获佣比例之和不超过100%,比例为0则也视为不参与分佣</li>
        </ul>
    </div>
    <form method="post" enctype="multipart/form-data" id="handlepost" action="{:U('System/commison_conf')}">
        <div class="ncap-form-default">
            <div id="switch_on_off" >

            <dl class="row">
                    <dt class="tit">
                        <label for="ac_sort">是否启用转账功能：</label>
                    </dt>
                    <dd class="opt">
                        <input type="radio" name="open_exchange" value="1" <if condition="$open_exchange['value'] eq 1"> checked="checked"</if>> 开启
                        <input type="radio" name="open_exchange" value="0" <if condition="$open_exchange['value'] eq 0"> checked="checked"</if>> 关闭
                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
             </dl>	   	
        
            <dl class="row">
                <dt class="tit">
                    <label>县级推广总人数</label>
                </dt>
                <dd class="opt">
                    <input name="pop_person_num" id="distribut_third_rate" value="{$pop_person.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">购买代理商品获得的推广总人数额度    单位：人</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label>市级推广总人数</label>
                </dt>
                <dd class="opt">
                    <input name="pop_person_num_city" id="distribut_third_rate" value="{$pop_person_city.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">购买代理商品获得的推广总人数额度    单位：人</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>省级推广总人数</label>
                </dt>
                <dd class="opt">
                    <input name="pop_person_num_province" id="distribut_third_rate" value="{$pop_person_province.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">购买代理商品获得的推广总人数额度    单位：人</p>
                </dd>
            </dl>


            <dl class="row">
                <dt class="tit">
                    <label>下级晋升为县级代理奖励业绩比例</label>
                </dt>
                <dd class="opt">
                    <input name="county_bonus" value="{$county_bonus.value}" class="input-txt" type="text">
                    <p class="notic">上级返佣占本身业绩的比例  单位 %</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label>二级用户晋升为县级代理奖励业绩比例</label>
                </dt>
                <dd class="opt">
                    <input name="sec_county_bonus" id="distribut_first_rate" value="{$sec_county.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">二级返佣占本身业绩的比例  单位：%</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>下级晋升为市级代理奖励业绩比例</label>
                </dt>
                <dd class="opt">
                    <input name="county_bonus_city" value="{$county_bonus_city.value}" class="input-txt" type="text">
                    <p class="notic">上级返佣占本身业绩的比例  单位 %</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>二级用户晋升为市级代理奖励业绩比例</label>
                </dt>
                <dd class="opt">
                    <input name="sec_county_bonus_city" id="distribut_first_rate" value="{$sec_county_city.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">二级返佣占本身业绩的比例  单位：%</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>下级晋升为省级代理奖励业绩比例</label>
                </dt>
                <dd class="opt">
                    <input name="county_bonus_province" value="{$county_bonus_province.value}" class="input-txt" type="text">
                    <p class="notic">上级返佣占本身业绩的比例  单位 %</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>二级用户晋升为省级代理奖励业绩比例</label>
                </dt>
                <dd class="opt">
                    <input name="sec_county_bonus_province" id="distribut_first_rate" value="{$sec_county_province.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">二级返佣占本身业绩的比例  单位：%</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>奖金币互转比例</label>
                </dt>
                <dd class="opt">
                    <input name="bonus_cash_exchange" id="distribut_first_rate" value="{$bonus_cash.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">奖金币和现金互转比例  单位：10:1  填10</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>推广奖励应得金额</label>
                </dt>
                <dd class="opt">
                    <input name="pop_money" id="distribut_first_rate" value="{$pop_money.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">推广奖励应得金额 用户实际到账金额为应得金额*奖励比例  单位：元</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>推广奖励比例</label>
                </dt>
                <dd class="opt">
                    <input name="pop_commission" id="distribut_first_rate" value="{$pop_commission.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">推广奖励比例 用户实际到账金额为应得金额*奖励比例  单位：%</p>
                </dd>
            </dl>
            
            <dl class="row">
                <dt class="tit">
                    <label>推广奖励积分</label>
                </dt>
                <dd class="opt">
                    <input name="invite_points" id="distribut_first_rate" value="{$invite_points.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">推广奖励积分  单位：积分</p>
                </dd>
            </dl>


            <dl class="row">
                <dt class="tit">
                    <label>县级代理每期开放人数</label>
                </dt>
                <dd class="opt">
                    <input name="pop_num_area" id="distribut_first_rate" value="{$pop_num_area.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic"> 单位：人数</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>市级代理每期开放人数</label>
                </dt>
                <dd class="opt">
                    <input name="pop_num_city" id="distribut_first_rate" value="{$pop_num_city.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">  单位：人数</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>省级代理每期开放人数</label>
                </dt>
                <dd class="opt">
                    <input name="pop_num_province" id="distribut_first_rate" value="{$pop_num_province.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">  单位：人数</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>购物奖励上一级</label>
                </dt>
                <dd class="opt">
                    <input name="shop_first" id="distribut_first_rate" value="{$shop_first.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">购物返回上一级的奖励比例  单位： %</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>购物奖励上二级</label>
                </dt>
                <dd class="opt">
                    <input name="shop_second" id="distribut_first_rate" value="{$shop_second.value}"onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="input-txt" type="text">
                    <p class="notic">购物返回上二级的奖励比例 单位： %</p>
                </dd>
            </dl>
            </div>
            <div class="bot">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="adsubmit()">确认提交</a>
            </div>
        </div>
    </form>
</div>
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
<script>
    // $('#distribut_pattern').change(function(){
    //     if($(this).val() == 1)
    //         $('#distribut_order_rate').show();
    //     else
    //         $('#distribut_order_rate').hide();
    // });

    function adsubmit(){
        $('#handlepost').submit();
    }
    
    function qr_back_call_back(fileurl_tmp)
    {
      $("#qr_back").val(fileurl_tmp);
      $("#qr_back_a").attr('href', fileurl_tmp);
      $("#qr_back_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
    function qr_big_back_call_back(fileurl_tmp)
    {
      $("#qr_big_back").val(fileurl_tmp);
      $("#qr_big_back_a").attr('href', fileurl_tmp);
      $("#qr_big_back_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
</script>
</body>
</html>